.fc-col-header-cell {
    border-left: 0 solid #fff!important;
    border-right: 0 solid #fff!important;
}

button[type="button"].vc-arrow {
    pointer-events: none!important;
    opacity: 0;
}

button[type="button"].vc-title {
    pointer-events: none!important;
}

.vc-primary {
    --vc-accent-50: var(--primary-50);
    --vc-accent-100: var(--primary-100);
    --vc-accent-200: var(--primary-200);
    --vc-accent-300: var(--primary-300);
    --vc-accent-400: var(--primary-400);
    --vc-accent-500: var(--primary-500);
    --vc-accent-600: var(--primary-600);
    --vc-accent-700: var(--primary-700);
    --vc-accent-800: var(--primary-800);
    --vc-accent-900: var(--primary-900);
}

.fc .fc-timegrid-col.fc-day-today {
    background-color: transparent !important;
}