.ruler {
    position: absolute;
    top: 0;
    left: 0;
}
.ruler.horizontal {
    left: 30px;
    width: calc(100% - 30px);
    height: 30px;
}
.ruler.vertical {
    top: 30px;
    width: 30px;
    height: calc(100% - 30px);
}

.ruler-box {
    position: relative;
    width: 30px;
    height: 30px;
    background: #f0f0f0;
    box-sizing: border-box;
    z-index: 21;
}
